<p>
Hello [[USERNAME]],
</p>

<p>
Your Yoda account has successfully been activated.
<br>
You can now use your credentials (your e-mail address and the password you
provided earlier) to login to https://{{ yoda_portal_fqdn }}.
</p>

<p>
If you have any issues, please contact your Yoda point of contact.
</p>

<p>
Kind regards,
</p>

<p>
The Yoda External User Service
</p>
